<div class="container">
    <div class="column">
        <div class="col-sm d-flex justify-content-center">
            <h1>Edit Todo Item</h1>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <%= render 'form', todo_item: @todo_item %>
        </div>
    </div>
</div>